<div class="card mt-4">
  <div class="card-header">
    <h2>Add Event</h2>
  </div>
  <div class="card-body">
    <form #eventForm="ngForm">
      <div class="mb-3">
        <label for="txtName">Name:*</label>
        <input id="txtName" type="text" class="form-control"
               name="txtName"
               [(ngModel)]="event.name"
               #name="ngModel"
               required
        >
        @if (name.invalid && (name.touched || name.dirty)) {
          @if (name.errors?.['required']) {
            <small class="text-danger">Name is required</small> <br>
          }
        }
      </div>

      <div class="mb-3">
        <label for="txtDate">Date:*</label>
        <input id="txtDate" type="date" class="form-control"
               name="txtDate"
               [(ngModel)]="event.date"
               #date="ngModel"
               required
        >
        @if (date.invalid && (date.touched || date.dirty)) {
          @if (date.errors?.['required']) {
            <small class="text-danger">Date is required</small> <br>
          }
        }
      </div>

      <div class="mb-3">
        <label for="txtLocation">Location:*</label>
        <input id="txtLocation" type="text" class="form-control"
               name="txtLocation"
               [(ngModel)]="event.location"
               (change)="locationError = undefined"
               #location="ngModel"
               required
        >
        @if (location.invalid && (location.touched || location.dirty)) {
          @if (location.errors?.['required']) {
            <small class="text-danger">Location is required</small> <br>
          }
        } @else if (locationError) {
          <small class="text-danger">{{ locationError }}</small> <br>
        }
      </div>

      <div class="mb-3">
        <label for="txtDescription">Description</label>
        <input id="txtDescription" type="text" class="form-control"
               name="txtDescription"
               [(ngModel)]="event.description"
               #description="ngModel"
        >
      </div>

      <div class="mb-3">
        <label for="capacity">Capacity:*</label>
        <input id="capacity" type="number" class="form-control"
               name="capacity"
               [(ngModel)]="event.capacity"
               #capacity="ngModel"
               required
               [min]="MIN_CAPACITY"
        >
        @if (capacity.invalid && (capacity.touched || capacity.dirty)) {
          @if (capacity.errors?.['required']) {
            <small class="text-danger">Capacity is required</small> <br>
          } @else if (capacity.errors?.['min']) {
            <small class="text-danger">Capacity must be at least {{ MIN_CAPACITY }}</small> <br>
          }
        }
      </div>

      <button type="button" id="btnAdd" class="btn btn-primary container-fluid"
              [disabled]="eventForm.invalid"
              (click)="onAddClick()">Add
      </button>
    </form>
  </div>
</div>


