<div class="container my-4">
  <div class="card">
    <div class="card-header text-center">
      <h1>Admin Settings</h1>
    </div>
    <div class="card-body">
      @if (userRole === "admin"){
        <button type="button" id="btnDeleteComments" class="btn btn-primary container-fluid mb-3"
                (click)="onDeleteCommentsClick()">Delete All Comments
        </button>
        <button type="button" id="btnDeleteEvents" class="btn btn-secondary container-fluid mb-3"
                (click)="onDeleteEventsClick()">Delete All Events
        </button>
        <button type="button" id="btnDeleteUsers" class="btn btn-dark container-fluid mb-3"
                (click)="onDeleteUsersClick()">Delete All Users
        </button>
      } @else {
        <h6>Must be an administrator to access setting controls</h6>
      }
    </div>
  </div>
</div>

