<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>Event details</h2>
    </div>
    <div class="card-body">
      <p><strong>Name: </strong>{{event.name}}</p>
      <p><strong>Date: </strong>{{event.date}}</p>
      <p><strong>Location: </strong>{{event.location}}</p>
      <p><strong>Description: </strong>{{event.description}}</p>
      <p><strong>Capacity: </strong>{{event.capacity}}</p>
      <button type="button" id="btnSelect" class="btn btn-primary btn-sm me-4"
              (click)="onModifyClick(event)">
        Modify
      </button>
      <button type="button" id="btnRegister" class="btn btn-primary btn-sm me-4"
              (click)="onRegisterClick(event)">
        Register
      </button>
    </div>
  </div>
</div>
