<div class="list-group-item">
  @if (!editMode) {
    <h6 class="mb-1">User: {{ comment.user.userName }}</h6>
    <p class="mb-1">{{ comment.text }}</p>
    @if (comment.user.userId === currentUser.userId) {
      <button type="button" id="btnEditComment" class="btn btn-primary btn-sm"
              (click)="onEditCommentClick()">
        Edit
      </button>
    }
  } @else {
    <app-commentdetail (onCloseEditForm)="closeEditForm($event)"
                       (onUpdateComment)="updateComment($event)"
                       (onDeleteComment)="deleteComment($event)"></app-commentdetail>
  }
</div>
